.data-table {
    display: flex;
    flex-direction: column;
    width: 90vw;
}

.data-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top: 2px solid black;

    div {
        width: calc(90vw/13);
        text-align: center;
    }
}